{% extends 'base.html' %}

{% block content %}


    <div class="d-flex flex-wrap justify-content-center px-5 pt-5">

    {% for task in data %}

      <div class="col-sm-3 ">
    <div class="card mx-1">
      <div class="card-body">
        <h5 class="card-title">{{task.task_Title}}</h5>
        <p class="card-text">{{task.task_Description}}</p> 
        <p>Category :
          
          {% for cat in info %}
          <button class= "btn btn-primary btn-sm m-2" disabled >{{cat.CategoryName}}</button>
          {% endfor %}

          {% if task.is_completed %}

          <p>Completed</p>

          {% endif %}


        </p>
        <a href="{% url 'edit_task' task.id %}" class="btn btn-info ">Edit</a>
        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>

      </div>
    </div>
  </div>

   {% endfor %}
  
  </div>


{% endblock %}